<section class="tab scrollable{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">

  {{#if powerParent}}
  <div class="form-group">
    <label>{{localize 'DND4E.EffectApply'}}</label>
    <div class="form-fields">
      <select name="system.powerEffectType">
        {{selectOptions config.powerEffectTypes selected=document.system.powerEffectType blank=""}}
      </select>
    </div>
  </div>
  {{/if}}
  
  <div class="form-group">
    <label>{{localize 'DND4E.DurationType'}}</label>
    <div class="form-fields">
      <select class="durationType refreshes" name="system.durationType">
        {{selectOptions config.durationType selected=document.system.durationType blank=""}}
      </select>
      {{#if (eq document.system.durationType "saveEnd")}}
      <label>{{localize 'DND4E.AbbreviationDC'}}</label>
      <input type="text" class="number saveDC" name="system.saveDC" value="{{ifThen document.system.saveDC document.system.saveDC '10'}}" placeholder="10" data-dtype="number">
      {{/if}}
    </div>
  </div>
  
  {{#if (eq document.system.durationType "custom")}}
  <div class="form-group effect-duration">
    <label class="flexrow" for="{{rootId}}-duration.value">
      <span>{{localize "EFFECT.DURATION.Label"}}</span>
      <span class="warning" hidden><i class="fa-duotone fa-triangle-exclamation"></i></span>
    </label>
    <div class="form-fields">
      {{formInput fields.duration.fields.value value=source.duration.value id=(concat rootId "-duration.value")
      aria=(object label=(localize "EFFECT.FIELDS.duration.value.label"))}}
      {{formInput fields.duration.fields.units value=source.duration.units id=(concat rootId "-duration.units")
      options=durationUnits aria=(object label=(localize "EFFECT.FIELDS.duration.units.label"))}}
    </div>
  </div>
  {{/if}}

  {{!-- Prevent duration display for passive effects --}}
  {{#if effect.system.durationType}}
  {{!-- Prevent duration display for power effects which aren't yet applied --}}
  {{#if source.duration.startRound}}
  <div class="form-group effect-start">
    <label>{{localize 'EFFECT.FIELDS.duration.startTime.label'}}</label>
    <div class="form-fields">
      <label>{{localize 'EFFECT.FIELDS.duration.startRound.label'}}</label>
      <label>{{source.duration.startRound}}</label>
      <label>{{localize 'DND4E.Initiative'}}</label>
      <label data-tooltip="{{localize 'DND4EUI.Tiebreaker'}}: {{document.flags.dnd4e.effectData.startTurnInit}}">
        {{numberFormat document.flags.dnd4e.effectData.startTurnInit decimals=0}}
      </label>
    </div>
  </div>

  {{#unless (eq document.system.durationType 'saveEnd')}}
  {{#unless (eq document.system.durationType 'endOfEncounter')}}
  {{#unless (eq document.system.durationType 'endOfDay')}}
  <div class="form-group effect-end">
    <label>{{localize 'EFFECT.DurationEndInit'}}</label>
    <div class="form-fields">
      {{#if document.flags.dnd4e.effectData.durationRound}}
      <label>{{localize 'EFFECT.FIELDS.duration.startRound.label'}}</label>
      <label>{{document.flags.dnd4e.effectData.durationRound}}</label>
      {{/if}}
      {{#if document.flags.dnd4e.effectData.durationTurnInit}}
      <label>{{localize 'DND4E.Initiative'}}</label>
      <label data-tooltip="{{localize 'DND4EUI.Tiebreaker'}}: {{document.flags.dnd4e.effectData.durationTurnInit}}">
        {{numberFormat document.flags.dnd4e.effectData.durationTurnInit decimals=0}}
      </label>
      {{/if}}
    </div>
  </div>
  {{/unless}}
  {{/unless}}
  {{/unless}}
  {{/if}}
  {{/if}}
  
  {{formGroup fields.disabled value=source.disabled rootId=rootId}}

  {{#if isActorEffect}}
  {{formGroup fields.origin value=source.origin rootId=rootId disabled=true}}
  {{else if isItemEffect}}
  <div class="form-group">
    <label>{{localize 'DND4E.EffectWhenEquipped'}}?</label>
    <div class="form-fields">
      <input type="checkbox" name="system.equippedRec" data-dtype="Boolean" {{checked document.system.equippedRec}}>
    </div>
  </div>
  {{formGroup fields.transfer value=source.transfer rootId=rootId}}
  {{#unless source.transfer}}
  <div class="form-group">
    <label>{{localize 'DND4E.SourceActorData'}}?</label>
    <div class="form-fields">
      <input type="checkbox" name="system.useSourceActorData" data-dtype="Boolean" {{checked document.system.useSourceActorData}}>
    </div>
    <p class="hint">{{localize 'DND4E.SourceActorDataHint'}}</p>
  </div>
  {{/unless}}
  {{/if}}
</section>
