<section class="tab scrollable changes{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
  <fieldset>
    <legend>{{localize 'DND4E.ModifierPlural'}}</legend>
    <header>
      <div class="key">{{localize "EFFECT.FIELDS.changes.element.key.label"}}</div>
      <div class="type">{{localize "EFFECT.FIELDS.changes.element.type.label"}}</div>
      <div class="value">{{localize "EFFECT.FIELDS.changes.element.value.label"}}</div>
      <div class="priority">{{localize "EFFECT.FIELDS.changes.element.priority.label"}}</div>
      <div class="controls">
        <button type="button" class="inline-control icon fa-regular fa-square-plus" data-action="addChange"></button>
      </div>
    </header>
    <ol class="change-list" data-changes>
      {{#each changes as |change|}}
      {{{change}}}
      {{/each}}
    </ol>
  </fieldset>
  
  {{!-- Status conditions attached to this effect --}}
  <fieldset class="form-group statuses">
    <legend>{{localize 'DND4E.StatusConditions'}}</legend>
    <header class="effect-status effects-header flexrow{{#if cltEnabled}} clt-enabled{{/if}}">
      <div class="status-select">{{localize 'DND4E.Condition'}}</div>
      <div class="status-controls">{{localize 'DND4EUI.EffectReplace'}} <i class="fa-regular fa-circle-info" data-tooltip="{{localize 'DND4EUI.EffectReplaceTip'}}"></i></div>
      <div class="effect-controls">
        <a class="effect-status-control" data-action="addStatus"><i class="far fa-plus-square"></i></a>
      </div>
    </header>
    <ol class="statuses-list{{#if cltEnabled}} clt-enabled{{/if}}">
      {{#each document.statuses as |status i|}}
      <li class="effect-status flexrow" data-status-id="{{status}}" data-index="{{i}}">
        <div class="status-select">
          <select class="refreshes" name="statuses.{{i}}" {{#unless (eq status "none")}} data-tooltip="{{status}}{{#unless (contains status ../config.statusEffects 'id')}}: {{localize 'DND4EUI.UnknownCondition.Tip'}}{{/unless}}" {{/unless}} >
            {{#unless (eq status "none")}}
            {{#unless (contains status ../config.statusEffects 'id')}}
            <option value="{{status}}" selected>{{localize 'DND4EUI.UnknownCondition.Label'}}</option>
            {{/unless}}
            {{/unless}}
            {{selectOptions ../config.statusEffects selected=status valueAttr="id" labelAttr="name" sort=true localize=true blank="none"}}
          </select>
        </div>
        <div class="copy-buttons flexrow">
          <button class="effect-status-control" data-action="copyAll"{{#unless (contains status ../config.statusEffects "id")}} disabled{{/unless}}>{{localize 'DND4EUI.All'}}</button>
          <button class="effect-status-control" data-action="copyName"{{#unless (contains status ../config.statusEffects "id")}} disabled{{/unless}}>{{localize 'Name'}}</button>
          <button class="effect-status-control" data-action="copyIcon"{{#unless (contains status ../config.statusEffects "id")}} disabled{{/unless}}>{{localize 'DND4EUI.Icon'}}</button>
          <button class="effect-status-control" data-action="copyDesc"{{#unless (contains status ../config.statusEffects "id")}} disabled{{/unless}}>{{localize 'DND4EUI.Desc'}}</button>
          <button class="effect-status-control" data-action="copyMods"{{#unless (contains status ../config.statusEffects "id")}} disabled{{/unless}}>{{localize 'DND4EUI.Mods'}}</button>
          {{#if cltEnabled}}
          <button class="effect-status-control" data-action="copyClFlags"{{#unless (contains status ../config.statusEffects "id")}} disabled{{/unless}}>{{localize 'DND4EUI.ConditionLabFlags'}}</button>
          {{/if}}
        </div>
        <div class="effect-controls">
          <a class="effect-status-control" data-action="deleteStatus"><i class="fas fa-trash"></i></a>
        </div>
      </li>
      {{/each}}
    </ol>
  </fieldset>

</section>
