<section class="tab{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">

  {{#if powerParent}}
  <div class="form-group">
    <label>{{localize 'DND4E.EffectApply'}}</label>
    <div class="form-fields">
      <select name="flags.dnd4e.effectData.powerEffectTypes">
        {{selectOptions config.powerEffectTypes selected=document.flags.dnd4e.effectData.powerEffectTypes blank=""}}
      </select>
    </div>
  </div>
  {{/if}}
  
  <div class="form-group">
    <label>{{localize 'DND4E.DurationType'}}</label>
    <div class="form-fields">
      <select class="durationType refreshes" name="flags.dnd4e.effectData.durationType">
        {{selectOptions config.durationType selected=document.flags.dnd4e.effectData.durationType blank=""}}
      </select>
      {{#if (eq document.flags.dnd4e.effectData.durationType "saveEnd")}}
        <label>{{localize 'DND4E.AbbreviationDC'}}</label>
        <input type="text" class="number saveDC" name="flags.dnd4e.effectData.saveDC" value="{{ifThen document.flags.dnd4e.effectData.saveDC document.flags.dnd4e.effectData.saveDC '10'}}" placeholder="10" data-dtype="number"/>
      {{/if}}
    </div>
  </div>
  
  {{#if (eq document.flags.dnd4e.effectData.durationType "custom")}}
    <div class="form-group effect-duration">
      <label>{{localize 'DND4E.Duration'}}</label>
      <div class="form-fields">
        <label for="{{rootId}}-duration.rounds">{{localize 'EFFECT.FIELDS.duration.rounds.label'}}</label>
        {{formInput fields.duration.fields.rounds value=source.duration.rounds id=(concat rootId "-duration.rounds")}}
        <label for="{{rootId}}-duration.turns">{{localize 'EFFECT.FIELDS.duration.turns.label'}}</label>
        {{formInput fields.duration.fields.turns value=source.duration.turns id=(concat rootId "-duration.turns")}}
        <label for="{{rootId}}-duration.seconds">{{localize 'EFFECT.FIELDS.duration.seconds.label'}}
          <a data-tooltip="{{localize 'EFFECT.DurationSecsTip'}}">*</a>
        </label>
        {{formInput fields.duration.fields.seconds value=source.duration.seconds id=(concat rootId "-duration.seconds")}}
      </div>
    </div>
  {{/if}}

  {{!-- Prevent duration display for passive effects --}}
  {{#if effect.flags.dnd4e.effectData.durationType}}
  {{!-- Prevent duration display for power effects which aren't yet applied --}}
  {{#if source.duration.startRound}}
    <div class="form-group effect-start">
      <label>{{localize 'EFFECT.FIELDS.duration.startTime.label'}}</label>
      <div class="form-fields">
        <label>{{localize 'EFFECT.FIELDS.duration.startRound.label'}}</label>
        <label>{{source.duration.startRound}}</label>
        <label>{{localize 'DND4E.Initiative'}}</label>
        <label data-tooltip="{{localize 'DND4EUI.Tiebreaker'}}: {{document.flags.dnd4e.effectData.startTurnInit}}">
          {{numberFormat document.flags.dnd4e.effectData.startTurnInit decimals=0}}
        </label>
      </div>
    </div>

    {{#unless (eq document.flags.dnd4e.effectData.durationType 'saveEnd')}}
    {{#unless (eq document.flags.dnd4e.effectData.durationType 'endOfEncounter')}}
    {{#unless (eq document.flags.dnd4e.effectData.durationType 'endOfDay')}}
      <div class="form-group effect-end">
        <label>{{localize 'EFFECT.DurationEndInit'}}</label>
        <div class="form-fields">
          {{#if document.flags.dnd4e.effectData.durationRound}}
            <label>{{localize 'EFFECT.FIELDS.duration.startRound.label'}}</label>
            <label>{{document.flags.dnd4e.effectData.durationRound}}</label>
          {{/if}}
          {{#if document.flags.dnd4e.effectData.durationTurnInit}}
            <label>{{localize 'DND4E.Initiative'}}</label>
            <label data-tooltip="{{localize 'DND4EUI.Tiebreaker'}}: {{document.flags.dnd4e.effectData.durationTurnInit}}">
              {{numberFormat document.flags.dnd4e.effectData.durationTurnInit decimals=0}}
            </label>
          {{/if}}
        </div>
      </div>
    {{/unless}}
    {{/unless}}
    {{/unless}}
  {{/if}}
  {{/if}}
  
  
  {{formGroup fields.disabled value=source.disabled rootId=rootId}}

  {{#if isActorEffect}}
  {{formGroup fields.origin value=source.origin rootId=rootId disabled=true}}
  {{/if}}
  {{#if isItemEffect}}
  <div class="form-group">
    <label>{{localize 'DND4E.EffectWhenEquipped'}}?</label>
    <div class="form-fields">
      <input type="checkbox" name="flags.dnd4e.effectData.equippedRec" data-dtype="Boolean" {{checked document.flags.dnd4e.effectData.equippedRec}}/>
    </div>
  </div>
  {{formGroup fields.transfer value=source.transfer rootId=rootId label=legacyTransfer.label hint=legacyTransfer.hint}}
  {{/if}}
</section>