<h3 class="form-header">{{ localize "DND4E.ItemConsumableDetails" }}</h3>
  {{!-- Consumable Type --}}
  <div class="form-group">
    <label>{{ localize "DND4E.ItemConsumableType" }}</label>
    <select name="system.consumableType">
      {{selectOptions config.consumableTypes selected=system.consumableType labelAttr="label"}}
    </select>
  </div>

  <div class="form-group">
    <label>{{ localize "DND4E.ItemConsumableStatus" }}</label>
	<div class="form-group">
		<label class="checkbox">
		  <input type="checkbox" name="system.equipped" {{checked system.equipped}}/> {{ localize "DND4E.Equipped" }}
		</label>
		<label class="checkbox">
		  <input type="checkbox" name="system.identified" {{checked system.identified}}/> {{ localize "DND4E.Identified" }}
		</label>
		<label class="checkbox">
		  <input type="checkbox" name="system.attuned" {{checked system.attuned}}/> {{ localize "DND4E.Attuned" }}
		</label>
	</div>
  </div>

  <h3 class="form-header">{{ localize "DND4E.ItemConsumableUsage" }}</h3>
  
  <div class="form-group">
    <label class="auto-card">{{ localize "DND4EUI.PowerCardAuto" }}</label>
    <span class="checkbox"><input type="checkbox" name="system.autoGenChatPowerCard" data-dtype="Boolean" {{checked system.autoGenChatPowerCard}}/></span>
  </div>

  {{!-- Action Type --}}
  <div class="form-group select">
    <label>{{ localize "DND4E.ItemActionType" }}</label>
    <select name="system.actionType">
      {{selectOptions config.abilityActivationTypes selected=system.actionType labelAttr="label"}}
    </select>
  </div>
  
  <div class="form-group range">
    <label>{{ localize "DND4E.Range" }}</label>
    <div class="form-fields item-range">
      <select name="system.rangeType">
        {{selectOptions config.rangeTypeNoWeapon selected=system.rangeType labelAttr="label"}}
      </select>
      {{#if system.isArea}}
		<span>{{ localize "DND4E.AreaOf" }}</span>
		<input type="text" name="system.area" value="{{system.area}}"/>
      {{/if}}					
      
      {{#if system.isRange}}
		  {{#if system.isArea}}<span class="range-within-of">{{ localize "DND4E.RangeWithinOf" }}</span>{{/if}}
		  
		  {{#unless system.isArea}}<div class="form-fields">{{/unless}}
		  
		  <input type="text" name="system.rangePower" data-tooltip="{{ localize 'DND4E.WeaponRangeShort' }}: {{ localize 'DND4E.WeaponRangeShortTip' }}" value="{{system.rangePower}}" data-dtype="Number"/>
		  
		  {{#unless system.isArea}}
			<input class="hidden" type="text" name="system.range.value" value="{{#if system.range.long}}{{system.rangePower}}{{/if}}" data-dtype="Number" />
			{{#if (eq system.rangeType 'range')}}
			  <span class="sep">/</span>
			  <input type="text" name="system.range.long" value="{{system.range.long}}" data-tooltip="{{ localize 'DND4E.WeaponRangeLong' }}: {{ localize 'DND4E.WeaponRangeLongTip' }}" placeholder="{{ localize 'DND4E.WeaponRangeLong' }}" data-dtype="Number" onClick="this.select();"/>
			{{/if}}
		  {{/unless}}
		  
		  {{#unless system.isArea}}</div>{{/unless}}					
      {{/if}}
      
    </div>
  </div>

  {{#if system.isArea}}
  <div class="form-group short">
    <label>{{ localize "DND4E.AutoTarget" }}</label>
    <div class="form-fields auto-target">
      <select name="system.autoTarget.mode">
        {{selectOptions config.autoTargetModes selected=system.autoTarget.mode}}
      </select>
      {{#unless system.excludeUserFromTargeting}}
        <label>{{ localize "DND4E.AutoTargetIncludeSelf" }}</label>
        <span class="checkbox"><input class="checkbox" type="checkbox" name="system.autoTarget.includeSelf" data-dtype="Boolean" {{checked system.autoTarget.includeSelf}}/></span>
      {{/unless}}
    </div>
  </div>
  {{/if}}
  
  {{!-- Limited Uses --}}
  <div class="vertical">
	  <div class="form-group uses-per">
		<label>{{ localize "DND4E.LimitedUses" }}</label>
		<div class="form-fields">
		  <input type="text" name="system.uses.value" value="{{system.uses.value}}" data-dtype="Number"/>
		  <span class="sep"> {{ localize "DND4E.of" }} </span>
		  <input type="text" name="system.uses.max" value="{{system.uses.max}}"/>
		  <select name="system.uses.per">
			{{selectOptions config.limitedUsePeriods selected=system.uses.per labelAttr="label"}}
		  </select>
		</div>
	  </div>
	  
	  <div class="form-group right">
		<label class="checkbox">
		  <input type="checkbox" name="system.uses.autoDestroy" {{checked system.uses.autoDestroy}}/> {{ localize "DND4E.ItemDestroyEmpty" }}
		</label>
	  </div>
  </div>
  
  {{!-- Consumption --}}
  <div class="form-group uses-per">
    <label>{{ localize "DND4E.ConsumeTitle" }}</label>
    <div class="form-fields consumption">
      <select class="consume-type" name="system.consume.type">
        {{selectOptions config.abilityConsumptionTypes selected=system.consume.type labelAttr="label"}}
      </select>
      {{#if system.consume.type}}
        <select name="system.consume.target">
          {{selectOptions abilityConsumptionTargets selected=system.consume.target}}
        </select>
        <input type="text" name="system.consume.amount" value="{{system.consume.amount}}" data-dtype="Number"/>
      {{/if}}
    </div>
  </div>

  {{#if system.activation.type}}
  <div class="form-group">
    <label class="checkbox">
      <input type="checkbox" name="system.uses.autoDestroy" {{checked system.uses.autoDestroy}}/> {{ localize "DND4E.ItemDestroyEmpty" }}
    </label>
  </div>
  {{/if}}
  
  {{!-- Other Formula --}}
  <div class="form-group">
    <label>{{ localize "DND4E.OtherFormula" }}</label>
    <input type="text" name="system.formula" value="{{system.formula}}" placeholder="{{ localize 'DND4E.Formula' }}"/>
  </div>
  
	{{!-- Effect --}}
	<fieldset>
		<legend>{{ localize "DND4EUI.EffectDetailsText" }}</legend>
		<div class="form-group right">
			<label class="label long">{{ localize "DND4EUI.EffectHTMLInput" }} <span class="label-hint">({{ localize "DND4EUI.EffectHTMLTip" }})</span></label> <input type="checkbox" name="system.effectHTML" data-dtype="Boolean" {{checked system.effectHTML}} {{ localize "DND4EUI.EffectHTMLInput" }}	/></span>
		</div>
		{{#if system.effectHTML}}
			{{!--{{editor effectDetailHTML target="system.effect.detail" button=true owner=owner editable=editable engine="prosemirror"}}--}}
			<prose-mirror class="rich-effect {{#if system.effect.detail}} has-content{{/if}}" toggled name="system.effect.detail" {{disabled (not editable)}} value="{{system.effect.detail}}">
				{{{effectDetailHTML}}}
			</prose-mirror>
		{{else}}
			<textarea class="no-mono" name="system.effect.detail" placeholder="{{ localize 'DND4EUI.PowerTextFieldsPlaceholder'}}"/>{{system.effect.detail}}</textarea>
		{{/if}}
		<div class="form-group right">
			<label>{{ localize "DND4EUI.DisplayEffect" }}</label> 
			<input type="checkbox" name="system.postEffect" data-dtype="Boolean" {{checked system.postEffect}}/>
		</div>
	</fieldset>



{{!------------ ATTACK ------------}}

  {{!-- Attack Details--}}
  <h3 class="form-header checkbox flexrow">
    {{ localize "DND4E.Attack" }}
    <input type="checkbox" name="system.attack.isAttack" data-dtype="Boolean" {{checked system.attack.isAttack}} data-tooltip="{{ localize 'DND4E.IsAttack' }}" />
  </h3>
  
  {{#if system.attack.isAttack}}
  
  {{!-- Attack--}}
  <div class="form-group attack">
    <label>{{ localize "DND4E.FormulaAttack" }}</label>
    <div class="form-fields">
		<input type="text" name="system.attack.formula" value="{{system.attack.formula}}" placeholder="5 + @dexMod" />
      {{ localize "DND4E.VS" }}
      <select class="tight" name="system.attack.def">
        {{selectOptions config.defensives selected=system.attack.def labelAttr="abbreviation"}}
      </select>
    </div>
  </div>

	{{!-- Hit Text --}}
	<div class="form-group vertical">
	  <label>{{ localize "DND4EUI.HitDetailsText" }}</label>
	  <textarea name="system.hit.detail" class="no-mono" placeholder="{{ localize 'DND4EUI.PowerTextFieldsPlaceholder'}}">{{system.hit.detail}}</textarea>
	</div>
	
	{{!-- Miss Text --}}
	<div class="form-group vertical">
	  <label>{{ localize "DND4EUI.MissDetailsText" }}</label>
	  <textarea name="system.miss.detail" class="no-mono" placeholder="{{ localize 'DND4EUI.PowerTextFieldsPlaceholder'}}">{{system.miss.detail}}</textarea>
	</div>

  {{/if}}

  <h3 class="form-header checkbox flexrow">
	{{ localize "DND4E.Damage" }}
    <input type="checkbox" name="system.hit.isDamage" data-dtype="Boolean" {{checked system.hit.isDamage}} data-tooltip="{{ localize 'DND4E.IsDamage' }}" />
  </h3>
  
  {{#if system.hit.isDamage}}
  
  {{!-- Hit Details --}}
  {{!-- Damage --}}
  <div class="form-group">
    <label>{{ localize 'DND4E.FormulaDamage' }}</label>
    <input type="text" name="system.hit.formula" value="{{system.hit.formula}}" placeholder="{{ localize 'DND4E.FormulaDamageExample' }}"/>
  </div>

  {{!-- Damage Type --}}
  <fieldset class="form-group stacked columns-4">
    <legend>{{ localize 'DND4E.Damage' }} {{ localize 'DND4E.Type' }}:</legend>
    {{#each config.damageTypes as |name type|}}
    <label class="checkbox">
      <input type="checkbox" name="system.damageType.{{type}}" {{checked (lookup ../system.damageType type)}}/> {{ name }}
    </label>
    {{/each}}
  </fieldset>

  <fieldset>
	<legend>{{ localize 'DND4EUI.SecondaryDamageForm' }}</legend>
	<label class="damage-header">{{ localize 'DND4EUI.SecondaryDamageTip' }}
      <a class="damage-control" data-action="addDamage"><i class="fas fa-plus"></i></a>
    </label>
    <ol class="damage-parts form-group">
      {{#each system.damage.parts as |part i| }}
      <li class="damage-part flexrow" data-damage-part="{{i}}">
        <input type="text" name="system.damage.parts.{{i}}.0" value="{{lookup this '0'}}" placeholder="{{ localize 'DND4E.FormulaDamageExample' }}" />
        <select name="system.damage.parts.{{i}}.1">
          <option value=""{{#if (eq (lookup part 1) "")}} selected{{/if}}></option>
          {{#each ../config.damageTypes as |name type|}}
            {{#unless (or (eq type "ongoing") (eq type damage))}}
            <option value="{{type}}"{{#if (eq (lookup part "1") type)}} selected{{/if}}>{{name}}</option>
            {{/unless}}
          {{/each}}
        </select>
        <a class="damage-control" data-action="deleteDamage"><i class="fas fa-minus"></i></a>
      </li>
      {{/each}}
    </ol>
  </fieldset>

  {{!-- Critical --}}
  <div class="form-group ">
    <label>{{ localize 'DND4E.Critical' }} {{ localize 'DND4E.FormulaDamage' }}</label>
    <input type="text" name="system.hit.critFormula" value="{{system.hit.critFormula}}" placeholder="{{ localize 'DND4E.FormulaDamageCritExample' }}"/>
  </div>
  
  {{/if}}
  
  <h3 class="form-header checkbox flexrow">
	{{ localize "DND4E.Healing" }}
	<input type="checkbox" name="system.hit.isHealing" data-dtype="Boolean" {{checked system.hit.isHealing}} data-tooltip="{{ localize 'DND4E.IsHealing' }}" />
  </h3>
  
  {{#if system.hit.isHealing}}
  <div class="form-group">
    <label>{{ localize 'DND4E.Healing' }} {{ localize "DND4E.Formula" }}</label>
    <input type="text" name="system.hit.healFormula" value="{{system.hit.healFormula}}"/>
  </div>

  <div class="form-group select">
    <label>{{ localize "DND4E.HealingSurgeSpending" }}</label>
    <select name="system.hit.healSurge">
      <option value=""{{#if (eq system.hit.healSurge "")}} selected{{/if}}>{{ localize "DND4E.None" }}</option>
      <option value="surge"{{#if (eq system.hit.healSurge "surge")}} selected{{/if}}>{{ localize "DND4E.HealingSurgeSpend" }}</option>
      <option value="surgeCost"{{#if (eq system.hit.healSurge "surgeCost")}} selected{{/if}}>{{ localize "DND4E.HealingSurgeCost" }}</option>
      <option value="surgeValue"{{#if (eq system.hit.healSurge "surgeValue")}} selected{{/if}}>{{ localize "DND4E.HealingSurgeValue" }}</option>
    </select>
  </div>

  {{/if}}
  
  <h3 class="form-header">{{ localize "DND4E.Keywords" }}</h3>
  
  <fieldset class="form-group stacked weapon-properties columns-4">
    <legend>{{localize 'DND4E.ThingType' thing=(localize 'DND4E.Effect')}}</legend>
    <!--<pr></pr>-->
    {{#each config.effectTypes as |name type|}}
    <label class="checkbox">
      <input type="checkbox" name="system.effectType.{{type}}" {{checked (lookup ../system.effectType type)}}/> {{ name }}
    </label>
    {{/each}}
  </fieldset>
  
  {{#unless system.hit.isDamage}} <!--Don't repeat this section if damage has already been added -->
    <fieldset class="form-group stacked weapon-properties columns-4">
      <legend class="damage-type">{{localize 'DND4E.ThingType' thing=(localize 'DND4E.Damage')}}</legend>
      {{#if system.damageTypeOverride}}
        {{#each config.damageTypes as |name type|}}
          {{#unless (eq type "ongoing")}}
          {{#unless (eq type "damage")}}
          <label class="checkbox">
            <input disabled="disabled" type="checkbox" name="system.weaponDamageType.{{type}}" {{checked (lookup ../system.weaponDamageType type)}}/> {{ name }}
          </label>
          {{/unless}}
          {{/unless}}
        {{/each}}
      {{else}}
        {{#each config.damageTypes as |name type|}}
          {{#unless (eq type "ongoing")}}
          {{#unless (eq type "damage")}}
          <label class="checkbox">
            <input type="checkbox" name="system.damageType.{{type}}" {{checked (lookup ../system.damageType type)}}/> {{ name }}
          </label>
          {{/unless}}
          {{/unless}}
        {{/each}}
      {{/if}}
    </fieldset>
  {{/unless}}
    
  {{!--<div class="form-group">
    <legend>{{localize 'DND4EUI.AutoFromConfig'}}</legend>
    <ul class="auto-keywords inline-list" data-tooltip="{{localize 'DND4EUI.AutoFromConfigTip'}}">
    {{#if labels.damageTypes}}
      <li>{{labels.damageTypes}}</li>
    {{/if}}
    
    {{#each system.autoKeys as |kw|}}
      <li>{{localize kw.label}}</li>
    {{/each}}
    
    </ul>
  </div>--}}
  
  <div class="form-group long">
    <label>{{ localize "DND4E.Custom" }}</label>
    <input type="text" name="system.keywordsCustom" value="{{system.keywordsCustom}}" placeholder="{{ localize 'DND4EUI.StringEnterValues'}}" data-tooltip="{{ localize 'DND4EUI.StringEnterValues'}}" />
  </div>
</div>
