<header class="sheet-header flexrow item-{{item.type}}">
  <div class="image-frame">
    <img class="profile" src="{{item.img}}" alt="{{item.name}}" data-tooltip="{{item.name}}" data-action="editImage" data-edit="img" height="100" width="100">
    <a class="hover-icon item-art" data-tooltip="{{localize 'DND4EUI.ShowImage'}}" data-action="showImage"><i class="fas fa-image fa-fw"></i></a>
  </div>
  
  <div class="header-details flexrow">
    <div class="inputs">
      <h1 class="item-name">
        <input name="name" type="text" value="{{item.name}}" data-tooltip="{{ localize 'DND4E.ItemName' }} placeholder="{{ localize 'DND4E.ItemName' }}">
      </h1>
    <ul class="summary flexrow">
      {{#if (eq this.itemType "power")}}
      <li>
        <input type="text" name="system.subName" value="{{system.subName}}" data-tooltip="{{ localize 'DND4E.SubName' }}" placeholder="{{ localize 'DND4E.SubName' }}">
      </li>
      {{/if}}
      {{#if this.showLevel}}
      <li class="item-level">
		<label>{{ localize 'DND4E.Level' }}</label> 
        <input type="number" name="system.level" value="{{system.level}}" data-tooltip="{{ localize 'DND4E.Level' }}" placeholder="1">
      </li>
      {{/if}}
      {{#if this.showRarity}}
      <li class="item-rarity">
        <input type="text" name="system.rarity" value="{{system.rarity}}" data-tooltip="{{ localize 'DND4E.Rarity' }}" placeholder="{{ localize 'DND4E.Rarity' }}">
      </li>
      {{/if}}
      {{#if this.summaryLabel}}
      <li class="auto-type">{{summaryLabel}}</li>
      {{/if}}
    </ul>
	</div>

    <div class="info flexcol">
      <span class="item-type">{{itemTypeLabel}}</span>
      {{#if itemStatus}}<span class="item-status">{{itemStatus}}</span>{{/if}}
      <div class="source-book">
        <button type="button" data-action="configureSource" data-config="source" data-tooltip aria-label="{{ localize 'DND4E.SOURCE.Action.Configure' }}">
		  <i class="icon fa-solid fa-cog"></i> {{#if sourceLabel}}{{sourceLabel}}{{else}}{{ localize "DND4E.SOURCE.FIELDS.source.label" }}{{/if}}
        </button>
      </div>
    </div>

  </div>
</header>
