<section class="{{cssClass}}" autocomplete="off">
	<section>
		{{!-- Sheet Header --}}
		<header class="sheet-header">
			<ul class="summary flexrow">
				<li class="summary-name">
					<input name="name" type="text" value="{{actor.name}}" data-tooltip="{{localize 'DND4E.NamePC'}}" placeholder="{{localize 'DND4E.NamePC'}}" onClick="this.select();"/>
				</li>
				<li class="summary-race placeholder" data-placeholder="{{localize 'DND4E.Race'}}">
					<input type="text" name="system.details.race" value="{{system.details.race}}" data-tooltip="{{localize 'DND4E.Race'}}" placeholder="{{localize 'DND4E.Race'}}" onClick="this.select();"/>
				</li>
				<li class="summary-class placeholder" data-placeholder="{{localize 'DND4E.Class'}}">
					<input type="text" name="system.details.class" value="{{system.details.class}}" data-tooltip="{{localize 'DND4E.ClassName'}}"placeholder="{{localize 'DND4E.ClassName'}}" onClick="this.select();"/>
				</li>
				<li class="summary-level">
					<label>{{localize 'DND4E.Level'}}</label>
					<input type="text" name="system.details.level" value="{{system.details.level}}" data-tooltip="{{localize 'DND4E.Level'}}" data-dtype="Number" onClick="this.select();"/>
				</li>
			</ul>

			<ul class="summary flexrow">
				<li class="summary-path placeholder" data-placeholder="{{localize 'DND4E.Tier.ParagonPath'}}">
					<input type="text" name="system.details.paragon" value="{{system.details.paragon}}" data-tooltip="{{localize 'DND4E.Tier.ParagonPath'}}"placeholder="{{localize 'DND4E.Tier.ParagonPath'}}" onClick="this.select();"/>
				</li>
				<li class="summary-path placeholder" data-placeholder="{{localize 'DND4E.Tier.EpicDestiny'}}">
					<input type="text" name="system.details.epic" value="{{system.details.epic}}" data-tooltip="{{localize 'DND4E.Tier.EpicDestiny'}}"placeholder="{{localize 'DND4E.Tier.EpicDestiny'}}" onClick="this.select();"/>
				</li>
				<li class="summary-exp">
					<label>{{localize 'DND4E.Exp'}}</label>
					<input type="text" name="system.details.exp" value="{{system.details.exp}}" data-tooltip="{{localize 'DND4E.Exp'}}" data-dtype="Number" onClick="this.select();"/>
				</li>
			</ul>
		</header>

		
		<section class="header-2 flexrow">
			<div class="image-frame">
				<img class="profile-img" src="{{actor.img}}" data-action="editImage" data-edit="img" data-tooltip="{{actor.name}}"/>
				<a class="hover-icon actor-art" data-tooltip="{{localize 'DND4EUI.ShowImage'}}" data-action="displayActorArt"><i class="fas fa-image fa-fw"></i></a>
			</div>
			{{!-- Attributes --}}
			<section class="flexrow section--attributes">
				{{!-- Hit Points --}}
				<div class="attributes attribute-health resource-tracker">
					<h4 class="attribute-name health-option rollable" data-tooltip="DND4E.HealthOptions">{{localize 'DND4E.HP'}}</h4>
					<a class="config-button health-option" data-action="ability" data-tooltip="DND4E.HealthOptions">
						<i class="fas fa-cog"></i>
					</a>
					<div class="attribute-value flexrow">
						<input {{#if system.details.isBloodied}} class="bloodied" {{/if}} type="text" name="system.attributes.hp.value" value="{{system.attributes.hp.value}}" data-tooltip="{{localize 'DND4E.HPCurrent'}}" placeholder="Current" data-dtype="Number" onClick="this.select();"/>
						<span class="sep">/</span>
						{{#if system.attributes.hp.autototal}}
						<input type="text" disabled name="system.attributes.hp.max" value="{{system.attributes.hp.max}}" data-tooltip="DND4E.HPTotalAuto" placeholder="Total" data-dtype="Number" onClick="this.select();"/>
						{{else}}
						<input type="text" name="system.attributes.hp.max" value="{{system.attributes.hp.max}}" data-tooltip="DND4E.HPTotal" placeholder="Total" data-dtype="Number" onClick="this.select();"/>
						{{/if}}
					</div>
					<footer class="attribute-footer attribute-footer--temp-hp flexrow">
						<span class="attribute-subname">{{localize 'DND4E.TempHP'}}</span>
						<input type="text" name="system.attributes.temphp.value" value="{{system.attributes.temphp.value}}" data-tooltip="DND4E.TempHPTip"  placeholder=0 data-dtype="Number" onClick="this.select();"/>
					</footer>
				</div>

				{{!-- Defences --}}
				<div class="attributes attribute-defenses">
					<h4 class="attribute-name">{{localize 'DND4E.Defences'}}</h4>
					<div class="attribute-value flexrow">
						{{#each system.defences as | def d|}}
						<div class="attribute-sub" data-defence="{{d}}">
							<strong class="attribute-name defence-bonus rollable" data-tooltip="{{localize 'DND4E.BonusesTo'}} {{def.title}}">{{def.value}}</strong>
							<div class="attribute-display def-name rollable" data-tooltip="{{localize 'DND4E.Roll'}} {{def.title}} {{localize 'DND4E.Save'}}">{{def.label}}</div>
						</div>
						{{/each}}
					</div>
				</div>

				{{!-- Surges --}}
				<div class="attributes attribute-surge">
					<h4 class="attribute-name">{{localize 'DND4E.HealingSurges'}}</h4>
					<div class="attribute-value flexrow">
						<div class="attribute-sub">
							<strong class="attribute-name surge-bonus rollable" data-tooltip="{{localize 'DND4E.SurgeValue'}}">{{system.details.surgeValue}}</strong>
							<div class="attribute-display surge-bonus rollable" data-tooltip="{{localize 'DND4E.SurgeValue'}}">{{localize 'DND4E.Value'}}</div>
						</div>
						<div class="attribute-sub attribute-input">
							<input type="text" name="system.details.surges.value" value="{{system.details.surges.value}}" data-tooltip="{{localize 'DND4E.SurgeCur'}}"  placeholder="Current" data-dtype="Number" onClick="this.select();"/>
							<div class="attribute-display envimental-loss-bonus rollable" data-tooltip="{{localize 'DND4E.SurgeCur'}}">{{localize 'DND4E.Uses'}}</div>
						</div>
						<span class="sep">/</span>
						<div class="attribute-sub attribute-input">
							<input type="text" name="system.details.surges.max" value="{{system.details.surges.max}}" data-tooltip="{{localize 'DND4E.SurgeDay'}}"  placeholder="Total" data-dtype="Number" onClick="this.select();"/>
							<div class="attribute-display" data-tooltip="{{localize 'DND4E.SurgeDay'}}">{{localize 'DND4E.Day'}}</div>
						</div>
						<div class="attribute-sub">
							<input type="checkbox" name="system.details.secondwind" data-dtype="Boolean" {{checked system.details.secondwind}} data-tooltip="{{localize 'DND4E.SecondWindUsed'}}"/>
							<div class="attribute-display-check secondwind-bonus rollable" data-tooltip="{{localize 'DND4E.SecondWindBonus'}}">{{localize 'DND4E.SW'}}</div>
						</div>
					</div>
					<footer class="attribute-footer attribute-footer--surge flexrow">
						<a class="rest short-rest" data-tooltip="{{localize 'DND4E.RestShort'}}">{{ localize "DND4E.RestS" }}</a>
						<a class="rest second-wind" data-tooltip="{{localize 'DND4E.SecondWind'}}">{{localize "DND4E.SecondWind"}}</a>
						<a class="rest long-rest" data-tooltip="{{localize 'DND4E.RestLong'}}">{{ localize "DND4E.RestL" }}</a>
						<a class="rest heal-menu" data-tooltip="{{localize 'DND4E.HealingMenu'}}">{{localize "DND4E.HealingMenu"}}</a>
					</footer>
				</div>

				{{!-- Action Points --}}
				<div class="attributes attribute-action">
					<h4 class="attribute-name">{{localize 'DND4E.ActionPoints'}}</h4>
					<div class="attribute-value flexrow">
						<div class="attribute-sub">
							<input type="text" name="system.actionpoints.value" value="{{system.actionpoints.value}}" data-tooltip="{{localize 'DND4E.ActionPointsRemain'}}" data-dtype="Number" onClick="this.select();" placeholder="0"/>
							<div class="attribute-display" data-tooltip="{{localize 'DND4E.ActionPointsRemain'}}">{{localize 'DND4E.Remaining'}}</div>
						</div>
						<div class="attribute-sub">
							<input type="checkbox" type="checkbox" name="system.actionpoints.encounteruse" data-dtype="Boolean" {{checked system.actionpoints.encounteruse}} data-tooltip="{{localize 'DND4E.ActionPointUsed'}}"/>
							<div class="attribute-display-check" data-tooltip="{{localize 'DND4E.ActionPointUsed'}}">{{localize 'DND4E.Used'}}</div>
						</div>
					</div>
					<footer class="attribute-footer attribute-footer--surge flexrow">
						<span>{{localize 'DND4E.MilestonePlural'}}</span>
						<input class="milestones" name="system.magicItemUse.milestone" value="{{system.magicItemUse.milestone}}" data-tooltip="{{localize 'DND4E.MilestonePlural'}}"  placeholder="0" data-dtype="Number" onClick="this.select();">
						<a class="rest action-point-extra" data-tooltip="{{localize 'DND4E.ActionPointUse'}}">{{localize "DND4E.ActionPointRiders"}}</a>
					</footer>
					<footer class="attribute-footer attribute-footer--surge flexrow">
						<a class="rest action-point" data-tooltip="{{localize 'DND4E.ActionPointUse'}}">{{localize "DND4E.ActionPointUse"}}</a>
					</footer>
				</div>
			</section>
		</section>
	</section>

	<section class="container container--bottom flexrow">
		<section class="section section--sidebar">
			{{!-- Ability --}}
			<section class="section section--abilities">
				<div class="ability-header">
					<label>{{localize 'DND4E.MOD'}}</label>
					

					{{#unless system.halfLevelOptions}}
					<label style="text-transform:uppercase">{{localize 'DND4E.Check'}}</label>
					{{/unless}}

				</div>

				{{#if system.halfLevelOptions}}
					{{#each system.abilities as | ability a|}}
					<div class="ability--score flexrow" data-ability="{{a}}">
						<input class="ability-score" name="system.abilities.{{a}}.value" type="text" data-dtype="Number" value="{{ability.value}}" onfocus="this.select()" placeholder="10"/>
						<label class="ability-name rollable" data-tooltip="{{ability.label }}">{{ability.label}}</label>
						<label class="attribute-display ability-mod-half" data-tooltip="{{ability.label}}">{{numberFormat ability.mod decimals=0 sign=true}}</label>
					</div>
					{{/each}}
				{{else}}
					{{#each system.abilities as | ability a|}}
					<div class="ability--score flexrow" data-ability="{{a}}">
						<input class="ability-score" name="system.abilities.{{a}}.value" type="text" data-dtype="Number" value="{{ability.value}}" onfocus="this.select()" placeholder="10"/>
						<label class="ability-name rollable" data-tooltip="{{ability.label }}">{{ability.label}}</label>
						<label class="attribute-display ability-mod" data-tooltip="{{ability.label}}">{{numberFormat ability.mod decimals=0 sign=true}}</label>
						<label class="attribute-display ability-mod-half rollable" data-tooltip="{{ability.label }}">{{numberFormat ability.check.total decimals=0 sign=true}}</label>
					</div>
					{{/each}}
				{{/if}}
				
			</section>
			{{!-- Skills --}}
			<section class="section section--skills">
				{{#each system.skills as |skill s|}}
				<div class="skill--block flexrow" data-skill="{{s}}">
					<a class="training-toggle skill-training" data-action="cycleSkillProficiency" data-tooltip="{{skill.hover}}">{{{skill.icon}}}</a>
					<h4 class="skill-name rollable">{{skill.label}}</h4>
					<input type="hidden" name="system.skills.{{s}}.training" value="{{skill.training}}" data-dtype="Number">
					<label class="skill-mod skill-bonus rollable">{{numberFormat skill.total decimals=0 sign=true }}</label>
				</div>
				{{/each}}
				<a class="custom-roll-descriptions" data-tooltip="{{localize 'DND4E.CheckDescsLong'}}">{{localize 'DND4E.CheckDescs'}}</a>

			</section>

		</section>

		<section class="section section--main flexcol">
			<section class="section section--utilities flexrow">
				<section class="section section--saves flexcol">
					<div class="saving-throw">
						<img class="roll-save rollable" src="icons/svg/d20-grey.svg" width="20" height="20" data-tooltip="{{localize 'DND4E.SavingThrow'}}"/>
						<label class="roll-save-bonus rollable" data-tooltip="{{localize 'DND4E.SavingThrowBonus'}}">{{localize 'DND4E.ActionSave'}}</label>
					</div>
					<div class="death-saves">
						<img class="death-save rollable" src="icons/svg/d20-grey.svg" width="20" height="20" data-tooltip="{{localize 'DND4E.DeathSavingThrow'}}"/>
						<label class="death-save-bonus rollable" data-tooltip="{{localize 'DND4E.DeathSavingThrowBonus'}}" >{{localize 'DND4E.Death'}}</label>
						<input class="death-saves-failed" type="text" name="system.details.deathsavefail" value="{{system.details.deathsavefail}}" data-tooltip="{{localize 'DND4E.DeathSaveFails'}}"  placeholder="0" data-dtype="Number" onClick="this.select();"/>
					</div>
				</section>
				<section class="section section--passives flexcol">
					<div data-passive="pasprc">
						<strong class="passive-bonus rollable">{{system.passive.pasprc.value}}</strong>
						<label class="passive-message rollable">{{localize 'DND4E.PasPer'}}</label>
					</div>
					<div data-passive="pasins">
						<strong class="passive-bonus rollable">{{system.passive.pasins.value}}</strong>
						<label class="passive-message rollable">{{localize 'DND4E.PasIns'}}</label>
					</div>
				</section>
				<section class="section section--movement flexcol">
					<div data-tooltip="{{moveTitle}}">
						<strong class="movement-dialog rollable">{{numberFormat system.movement.walk.value}} sq.</strong>
						<label class="movement-dialog rollable">{{localize 'DND4E.Speed'}}</label>
					</div>
					<div>
						<strong class="init-bonus rollable" data-tooltip="{{localize 'DND4E.InitiativeScore'}}">{{numberFormat system.attributes.init.value decimals=0 sign=true }}</strong>
						<label class="rollInitiative rollable" >{{localize 'DND4E.Initiative'}}</label>
					</div>
				</section>
			</section>

			<section class="section section--tabs flexshrink">

				{{!-- Sheet Tab Navigation --}}
        {{> "templates/generic/tab-navigation.hbs"}}
			</section>

			{{!-- Sheet Body --}}
			<section class="sheet-body section--tabs-content">

				{{!-- Biography Tab --}}
        {{> "systems/dnd4e/templates/actors/tabs/biography.hbs" tab=tabs.biography}}

				{{!-- Details Tab --}}
        {{> "systems/dnd4e/templates/actors/tabs/details.hbs" tab=tabs.details}}
		
				{{!-- Owned Inventory Tab --}}
        {{> "systems/dnd4e/templates/actors/tabs/inventory.hbs" tab=tabs.inventory sections=inventory}}
		
				{{!-- Feat Tab --}}
        {{> "systems/dnd4e/templates/actors/tabs/features.hbs" tab=tabs.features sections=features}}
				
				{{!-- Powers Tab --}}
        {{> "systems/dnd4e/templates/actors/tabs/powers.hbs" tab=tabs.powers sections=powers}}
				
				{{!-- Rituals Tab --}}
        {{> "systems/dnd4e/templates/actors/tabs/rituals.hbs" tab=tabs.rituals sections=rituals}}
		
				{{!-- Effects Tab --}}
        {{> "systems/dnd4e/templates/actors/tabs/effects.hbs" tab=tabs.effects}}
			</section>
		</section>
	</section>

</section>
