<section class="tab flexrow scrollable {{tab.id}}{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">

	<div class="item-properties">
		{{#if isPhysical}}
		<div class="form-group">
			<label>{{ localize "DND4E.Quantity" }}</label>
			<input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number"/>
		</div>

		<div class="form-group">
			<label>{{ localize "DND4E.Weight" }}</label>
			<input type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number"/>
		</div>

		<div class="form-group">
			<label>{{ localize "DND4E.Price" }}</label>
			<input type="text" name="system.price" value="{{system.price}}" data-dtype="Number"/>
		</div>
		{{/if}}
		
		{{!--{{#if (eq data.type "feature")}}
		<div class="form-group">
		</div>
		{{/if}}--}}

		<ul class="properties-list tags">
			{{#each itemProperties}}
				{{#if this.label}}
					{{{this.label}}}
				{{else}}
					{{{this}}}
				{{/if}}
			{{/each}}
		</ul>
	</div>

	<section class="description">
		<label>{{localize "DND4E.Sheet.Description"}}</label>
		<section class="main editor-container">
      <prose-mirror toggled name="system.description.value" {{disabled (not editable)}} value="{{system.description.value}}">
        {{{descriptionHTML}}}
      </prose-mirror>
		</section>
		{{#if userInfo.isGM}}
		<label>{{localize "DND4E.GMNotesAdd"}}</label>
		<section class="editor-container gm-notes{{#if system.description.gmNotes}} has-content{{/if}}">
      <prose-mirror toggled name="system.description.gm" {{disabled (not editable)}} value="{{system.description.gm}}">
        {{{descriptionHTMLGM}}}
      </prose-mirror>
		</section>
		{{/if}}
	</section>
</section>