<section class="tab scrollable {{tab.id}} flexcol{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
  <fieldset class="form-group stacked columns-4">
    <legend>{{localize 'DND4E.ThingType' thing=(localize 'DND4E.Damage')}}</legend>
    {{#each config.damageTypes as |name type|}}
      {{#unless (eq type "ongoing")}}
      {{#unless (eq type "all")}}
      {{#unless (eq type "physical")}}
      <label class="checkbox">
        <input type="checkbox" name="system.damageType.{{type}}" {{checked (lookup ../system.damageType type)}}/> {{ name }}
      </label>
      {{/unless}}
      {{/unless}}
      {{/unless}}
    {{/each}}
  </fieldset>
  
  <fieldset class="form-group stacked columns-4">
    <legend>{{localize 'DND4E.ThingType' thing=(localize 'DND4E.Effect')}}</legend>
    {{#each config.effectTypes as |name type|}}
    <label class="checkbox">
      <input type="checkbox" name="system.effectType.{{type}}" {{checked (lookup ../system.effectType type)}}/> {{ name }}
    </label>
    {{/each}}
  </fieldset>
  
  <div class="form-group long">
    <label>{{ localize "DND4E.Custom" }}</label>
    <input type="text" name="system.keywordsCustom" value="{{system.keywordsCustom}}" placeholder="{{ localize 'DND4EUI.StringEnterValues'}}" data-tooltip="{{ localize 'DND4EUI.StringEnterValues'}}" />
  </div>
</section>