<form id="ability-use-form">
    <p>{{ title }}</p>
    <p class="notes">{{note}}</p>
    {{#each errors}}
    <p class="notification error">{{localize this}}</p>
    {{/each}}

    {{#if hasLimitedUses}}
    <div class="form-group">
        <label class="checkbox"><input type="checkbox" name="consumeUse" checked/>{{ localize "DND4E.AbilityUseConsume" }}</label>
    </div>
    {{/if}}

    {{#if hasPlaceableTemplate}}
    <div class="form-group">
        <label class="checkbox">
            <input type="checkbox" name="placeTemplate" checked/>
            {{ localize "DND4E.PlaceTemplate" }}
        </label>
    </div>
    {{/if}}
</form>
