<div id="action-point-hd" class="dialogue-content">

	<div class="form-group vertical">
		<h1 class="form-title">{{localize 'DND4E.ActionPointRiders'}}</h1>
		<p>{{localize 'DND4E.ActionPointRidersTip'}}</p>
		<textarea class="no-mono" type="text" name="system.actionpoints.custom" value="{{system.actionpoints.custom}}" data-dtype="String" placeholder="{{localize 'DND4E.ActionPointRidersTip'}}" contentEditable>{{system.actionpoints.custom}}</textarea>
	</div>   
	
</div>