<div id="action-point-hd" class="standard-form dialog-content">
	<p>{{localize 'DND4E.ActionPointRidersTip'}}</p>
	<textarea type="text" name="system.actionpoints.custom" value="{{system.actionpoints.custom}}" data-dtype="String"  placeholder="{{localize 'DND4E.ActionPointRidersTip'}}" contentEditable>{{system.actionpoints.custom}}</textarea>
	<div class="dialog-buttons">
		<button type="submit" name="submit">{{localize 'DND4E.Update'}} {{localize 'DND4E.ActionPointRiders'}}</button>
	</div>
</div>