<div id="attribute-bonuses" class="dialogue-content" onsubmit="event.preventDefault();">

	<!-- <span>Total Bonus to {{skill}}: SOMENUM</span> -->
	<!-- <a>+ Add New Bonus Button</a> -->
	{{#if options.skill}}
	
		<fieldset>
			<legend>{{localize "DND4E.Armour"}}</legend>
			<div class="form-group loose">
				<label class="checkbox">
					<input type="checkbox" class="checkbox" name="system.armourCheck" data-dtype="Boolean" {{checked system.armourCheck}}> 
					<span class="label">{{localize "DND4E.SkillACPToggle"}}</span>
				</label>
				{{#if system.armourCheck}}
				<div class="form-group">
					<label>{{localize "DND4E.ArmourSkillACP"}}:<label> 
					<span>{{system.armourPen}}</span>
				</div>				
				{{/if}}
			</div>
		</fieldset>

	{{else if options.ac}}
	
		<fieldset>
			<legend data-tooltip="{{localize 'DND4E.ACAbilityMod'}}">{{localize "DND4E.AbilityModifier"}}</legend>
			<div class="form-group loose">
				<label class="checkbox">
					<input type="checkbox" class="checkbox" name="system.light" data-dtype="Boolean" {{checked system.light}} /> 
					<span class="label">{{localize "DND4E.DefModUse"}}</span>
				</label>
				<div class="form-group">
					<label>{{localize "DND4E.DefModOverride"}}: </label>
					<select name="system.altability">
						<option value=""{{#if (eq system.altability "")}} selected{{/if}}>{{localize "DND4E.Default"}}</option>
						{{selectOptions config.abilities selected=system.altability}}
					</select>
				</div>
			</div>
		</fieldset>

	{{else if options.init}}
	
	<fieldset>
		<legend data-tooltip="{{localize "DND4E.InitAbilityMod"}}">{{localize "DND4E.AbilityModifier"}}</legend>
		<select name="system.ability">
			<option value=""{{#if (eq system.ability "")}} selected{{/if}}>{{localize "DND4E.None"}}</option>
			{{selectOptions config.abilities selected=system.ability}}
		</select>
	</fieldset>
	
	{{else if options.secondWind}}
	
	<div class="form-group stacked">
		<label>{{localize "DND4E.SecondWindSpecial"}}</label>
		<input type="text" name="system.custom" value="{{system.custom}}" data-dtype="String"/>
	</div>
	
	{{/if}}
	
	<fieldset>
		<legend>{{localize "DND4E.Bonuses"}}</legend>
		
		{{#each bonusData as |bonus b|}}
		<fieldset class="bonus-part form-group vertical" data-bonus-part="{{b}}">
		<legend>{{#if bonus.name}}{{bonus.name}} {{localize "DND4E.Bonus"}} {{else}}{{localize "DND4E.Bonus"}} {{b}}{{/if}}</legend>
			<div class="form-group loose">
				<div class="form-group loose">
					<label>{{localize "Label"}}:</label>
					<input type="text" name="{{b}}.name" value="{{bonus.name}}" data-dtype="String" />
				</div>
				<div class="form-group loose">
					<label>{{localize "DND4E.Value"}}:</label>
					<input type="text" name="{{b}}.value" value="{{bonus.value}}" data-dtype="String" />
				</div>
				<label class="checkbox right">
					<input class="checkbox" type="checkbox" name="{{b}}.active" data-dtype="Boolean" {{checked bonus.active}} data-tooltip="{{localize 'DND4E.BonusToggle'}}" /> 
					<span class="label">{{localize "DND4E.Active"}}</span>
				</label>
				<a class="bonus-control bonus-delete right" data-tooltip="{{localize 'DND4EUI.Delete'}}"><i class="fas fa-trash"></i></a>
			</div>
			<textarea class="no-mono" type="text" name="{{b}}.note" value="{{bonus.note}}" data-dtype="String" placeholder="{{localize 'DND4E.Notes'}}" contentEditable>{{bonus.note}}</textarea>
		</fieldset>
		{{/each}}
		
		<div class="form-group right">
			<a class="bonus-control bonus-add label">{{localize "DND4EUI.AddNew"}}</a>
		</div>
	</fieldset>
	
</div>