<div id="encumbrance-dialog" class="dialog-content" onsubmit="event.preventDefault();">
	<fieldset>
		<div class="form-group base"  data-movement="walk">
			<span data-tooltip="{{localize 'DND4E.LoadNormalTip'}}"><strong>{{system.encumbrance.max}} {{localize 'DND4E.AbbreviationLbs'}}</strong> {{localize 'DND4E.LoadNormal'}}:</span>
			<input type="text" name="system.encumbrance.formulaNorm" value="{{system.encumbrance.formulaNorm}}" data-tooltip="{{localize 'DND4E.LoadNormalTip'}}" placeholder="0"/>
		</div>

		<div class="form-group base"  data-movement="walk">
			<span data-tooltip="{{localize 'DND4E.LoadHeavyTip'}}"><strong>{{system.encumbrance.maxHeavy}} {{localize 'DND4E.AbbreviationLbs'}}</strong> {{localize 'DND4E.LoadHeavy'}}:</span>
			<input type="text" name="system.encumbrance.formulaHeavy" value="{{system.encumbrance.formulaHeavy}}" data-tooltip="{{localize 'DND4E.LoadHeavyTip'}}" placeholder="0"/>
		</div>


		<div class="form-group base"  data-movement="walk">
			<span data-tooltip="{{localize 'DND4E.LoadDragTip'}}"><strong>{{system.encumbrance.maxMax}} {{localize 'DND4E.AbbreviationLbs'}}</strong> {{localize 'DND4E.LoadDrag'}}:</span>
			<input type="text" name="system.encumbrance.formulaMax" value="{{system.encumbrance.formulaMax}}" data-tooltip="{{localize 'DND4E.LoadDragTip'}}" placeholder="0"/>
		</div>

		<button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{ localize "DND4E.Save"}}</button>
	</fieldset>
</div>