<div id="heal-menu-dialog" class="dialog-content">
	<div class="form-group">
		<input data-action="spendSurgesChecked" type="checkbox" id="spend-healing-surge" name="spend-healing-surge" checked>
		<label for="spend-healing-surge">{{localize "DND4E.HealingMenuSpendHealingSurge"}}</label>
	</div>
	<p>{{localize "DND4E.HealingMenuSpendHealingSurgeDesc"}}</p>
	<div class="form-group">
		<input type="checkbox" id="gain-healing-surge-value" name="gain-healing-surge-value" checked>
		<label for="gain-healing-surge-value">{{localize "DND4E.HealingMenuGainSurgeValue"}}</label>({{surgeValue}})
	</div>
	<p>{{localize "DND4E.HealingMenuGainSurgeValueDesc"}}</p>
	<div class="form-group">
		<label>{{localize 'DND4E.HealingMenuSituational'}}</label>
		<input type="text" id="bonus" name="bonus" value="" placeholder="{{ localize 'DND4E.RollExample' }}"/>
	</div>
	<hr/>
	<div class="form-group">
		<label>{{localize 'DND4E.HealingMenuPresets'}}</label>
		<a data-action="healingPotionSettingsClicked" class="fakebutton" data-tooltip="{{ localize 'DND4E.HealingMenuHealingPotionSettingsDetails' }}">{{ localize "DND4E.HealingMenuHealingPotionSettings" }}</a>
	</div>
	<hr/>
	<button id="healButton" data-action="healButtonClicked">{{ localize "DND4E.HealingMenuHealHP" }} </button>
	<button id="tempHpButton" data-action="tempHPButtonClicked">{{ localize "DND4E.HealingMenuGainTempHP" }}</button>
	<input type="hidden" id="hpMax" value="{{hpMax}}"/>
	<input type="hidden" id="hasSurges" value="{{constHasSurges}}"/>
	<input type="hidden" id="heal-type" name="heal-type" value="heal">
</div>