<div class="hitpoint-config dialogue-content" autocomplete="off" onsubmit="event.preventDefault();">

	<div class="form-group vertical">
		<label class="checkbox">
			<input type="checkbox" name="system.attributes.hp.autototal" data-dtype="Boolean" {{checked system.attributes.hp.autototal}} data-tooltip="{{localize 'DND4E.HPAuto'}}" />
			<span class="label">{{localize 'DND4E.HPAuto'}}</span>
		</label>
		<fieldset>
			<legend>{{localize 'DND4E.HPTotal'}}</legend>
			<div>
				<input class="hp-starting" type="text" name="system.attributes.hp.starting" value="{{system.attributes.hp.starting}}" data-tooltip="{{localize 'DND4E.HPBase'}}"  placeholder="0" data-dtype="Number" onClick="this.select();" />
				<span class="hp-con" data-tooltip="{{localize 'DND4E.AbilityScoreTitle' ability=(localize 'DND4E.AbilityCon')}}">+ {{system.abilities.con.value}}</span>
				<span>{{localize 'DND4E.HPFirst'}}</span>
			</div>
			<div>
				<input class="hp-perlevel" type="text" name="system.attributes.hp.perlevel" value="{{system.attributes.hp.perlevel}}" data-tooltip="{{localize 'DND4E.HPPer'}}"  placeholder="0" data-dtype="Number" onClick="this.select();" />
				<span>{{localize 'DND4E.HPPer'}}</span>
			</div>
			<div>
				<input class="hp-misc" type="text" name="system.attributes.hp.misc" value="{{system.attributes.hp.misc}}" data-tooltip="{{localize 'DND4E.HPBonus'}}"  placeholder="0" data-dtype="Number" onClick="this.select();" />
				<span>{{localize 'DND4E.HPBonus'}}</span>
			</div>
		</fieldset>
			
		<label class="checkbox">
			<input type="checkbox" name="system.attributes.hp.temprest" data-dtype="Boolean" {{checked system.attributes.hp.temprest}} data-tooltip="{{localize 'DND4E.HPTempKeep'}}" />
			<span class="label">{{localize 'DND4E.HPTempKeep'}}?</span>
		</label>
	</div>

</div>