<div id="long-rest" class="dialog-content" onsubmit="event.preventDefault();">
	<p><strong>{{localize 'DND4E.LongRestTake'}}?</strong></p>
	<p>{{localize 'DND4E.LongRestHint'}}:</p>
	<ul>
		<li>{{localize 'DND4E.LongRestEffectHP'}}</li>
		<li>{{localize 'DND4E.LongRestEffectResources'}}</li>
		<li>{{localize 'DND4E.LongRestEffectAP'}}</li>
	</ul>
	<p>{{localize 'DND4E.LongRestTakeSafe'}}?
		<select name="envi">
			<option value=true >{{localize 'DND4EUI.Yes'}}</option>
			<option value=false >{{localize 'DND4EUI.No'}}</option>
		</select>
	</p>

	<div class="dialog-buttons">
		<button type="submit" name="submit">{{localize 'DND4E.LongRestTake'}}</button>
	</div>
</div>
