<div id="long-rest" class="dialog-content" onsubmit="event.preventDefault();">
	<fieldset>
		<legend>{{localize 'DND4E.LongRestTake'}}?</legend>
		<p>{{localize 'DND4E.LongRestHint'}}:</p>
		<fieldset>
		<ul>
			<li>{{localize 'DND4E.LongRestEffectHP'}}</li>
			<li>{{localize 'DND4E.LongRestEffectResources'}}</li>
			<li>{{localize 'DND4E.LongRestEffectAP'}}</li>
		</ul>
		</fieldset>

		<p>{{localize 'DND4E.LongRestTakeSafe'}}?
			<select name="envi">
				<option value=true >{{localize 'DND4EUI.Yes'}}</option>
				<option value=false >{{localize 'DND4EUI.No'}}</option>
			</select>
		</p>
	</fieldset>

	<div class="dialog-buttons">
		<button type="submit" name="submit">{{localize 'DND4E.LongRestTake'}}</button>
	</div>
</div>
