<div id="long-rest" class="dialogue-content" onsubmit="event.preventDefault();">

	<div class="form-group vertical">
		<h1 class="form-title">{{localize 'DND4E.LongRestTake'}}?</h1>
		<p>{{localize 'DND4E.LongRestHint'}}:</p>
		<ul>
			<li>{{localize 'DND4E.LongRestEffectHP'}}</li>
			<li>{{localize 'DND4E.LongRestEffectResources'}}</li>
			<li>{{localize 'DND4E.LongRestEffectAP'}}</li>
		</ul>
		<div class="form-group">
			<label>{{localize 'DND4E.LongRestTakeSafe'}}?</label>
			<select name="envi">
				<option value="true">{{localize 'DND4EUI.Yes'}}</option>
				<option value="false">{{localize 'DND4EUI.No'}}</option>
			</select>
		</div>
	</div>
	
</div>
