<div id="save-throw" class="dialogue-content save-throw" onsubmit="event.preventDefault();">
  {{log effectId}}
  <div class="form-group vertical">
	
    <h1 class="form-title">
      {{#if effectName}}
      {{localize 'DND4E.SaveVsPrompt' effect=effectName}}
      {{else}}
      {{localize 'DND4E.SavePrompt'}} 
      {{/if}}
    </h1>
		
    {{#unless effectSave}}
    {{#if savableEffects.length}}
    <div class="form-group">
      <label>{{ localize "DND4E.SaveAgainst" }}</label>
      <select name="saveAgainst">
        {{selectOptions savableEffects selected=effectId localise=true valueAttr="id" labelAttr="name"}}
      </select>
    </div>
    {{/if}}
    {{/unless}}
		
    <div class="form-group">
      <label>{{localize 'DND4E.SaveDCSet'}}:</label>
      <input type="text" name="dc" value="{{#if saveDC}}{{saveDC}}{{else}}10{{/if}}" placeholder="10">
    </div>

    <div class="form-group">
      <label>{{localize 'DND4E.SaveSituational'}}?</label>
      <input type="text" name="bonus" value="" placeholder="">
    </div>

    <div class="form-group roll-times flexrow">
      <label class="label">{{localize 'DND4E.RollTimes'}}</label>
      <span class="buttons flexrow">
        <button type="button" class="button hollow circle" data-quantity="minus" data-field="quantity" data-action="minus">
          <i class="fa fa-minus" aria-hidden="true"></i>
        </button>
        <input class="dice-count" id="d20" type="text" name="d20" value="1" onClick="this.select();">
        <button type="button" class="button hollow circle" data-quantity="plus" data-field="quantity" data-action="plus">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </span>
    </div>

    <div class="form-group">
      <label>{{ localize "DND4E.RollMode" }}</label>
      <select name="messageMode">
        {{selectOptions messageModes selected=messageMode.value labelAttr="label" localize=true}}
      </select>
    </div>
		
  </div>
	
</div>
