<div id="second-wind-hd" class="dialogue-content" onsubmit="event.preventDefault();">

	<div class="form-group vertical">
		<h1 class="form-title">{{localize 'DND4E.SecondWindUse'}}?</h1>
		<p>{{localize 'DND4E.SecondWindTip'}}:</p>
		<ul>
			<li>{{localize 'DND4E.Regain'}} {{system.details.secondWindValue}} {{localize 'DND4E.HP'}}</li>
			<li>{{localize 'DND4E.SecondWindEffect'}}</li>
		
			{{#if system.details.secondwindbon.custom}}
				{{#each extra as |e key|}}
				<li>{{e}}</li>
				{{/each}}
			{{/if}}
		</ul>
		
		<div class="form-group">
			<label>{{localize 'DND4E.HealingMenuSituational'}}?</label>
			<input type="text" name="bonus" value="" placeholder="{{ localize 'DND4E.RollExample' }}"/>
		</div>
		
		<input type="hidden" id="surges" value="{{system.details.surges.value}}"/>
	<div>
	
</div>