<div id="second-wind-hd" class="dialog-content" onsubmit="event.preventDefault();">
	<fieldset>
		<legend>{{localize 'DND4E.SecondWindUse'}}?</legend>
		<p>{{localize 'DND4E.SecondWindTip'}}:</p>
		<fieldset>
		<ul>
			<li>{{localize 'DND4E.Regain'}} {{system.details.secondWindValue}} {{localize 'DND4E.HP'}}</li>
			<li>{{localize 'DND4E.SecondWindEffect'}}</li>
		
			{{#if system.details.secondwindbon.custom}}
				{{#each extra as |e key|}}
				<li>{{e}}</li>
				{{/each}}
			{{/if}}
		</ul>
		</fieldset>
		<div class="form-group">
				<label>{{localize 'DND4E.HealingMenuSituational'}}?</label>
				<input type="text" name="bonus" value="" placeholder="{{ localize 'DND4E.RollExample' }}"/>
		</div>
	</fieldset>

	<div class="dialog-buttons">
	<button id="secondWindButton" type="submit" name="submit">{{localize 'DND4E.SecondWind'}}</button>
	</div>
	<input type="hidden" id="surges" value="{{system.details.surges.value}}"/>
</div>