<div id="short-rest" class="dialog-content" onsubmit="event.preventDefault();">
	<p><strong>{{localize 'DND4E.ShortRestTake'}}?</strong></p>
	<p>{{localize 'DND4E.ShortRestHint'}}:</p>
	<ul>
		<li>{{localize 'DND4E.ShortRestEffectRefresh'}}</li>
		<li>{{localize 'DND4E.ShortRestEffectSurges'}}</li>
	</ul>
   
	<div class="form-group">
		<label>{{localize 'DND4E.ShortRestSelect'}}</label>
		<input type="text" name="surge" value="" placeholder=""/>
	</div>
	
	<div class="form-group">
		<label>{{localize 'DND4E.HealingMenuSituational'}}</label>
		<input type="text" name="bonus" value="" placeholder="{{ localize 'DND4E.RollExample' }}"/>
	</div>
	
	<div class="dialog-buttons">
		<button type="submit" name="submit">{{localize 'DND4E.ShortRestTake'}}</button>
	</div>
	
</div>