<section class="tab {{tab.id}}{{#if tab.active}} active{{/if}}{{#if isNPC}} npc{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
  <ol class="item-list inventory-list">
    <header class="feature-filters flexrow">
      <div class="sort-features">
        <input type="hidden" name="flags.dnd4e.sheetDisplay.features.sortBy.value">
        <label for="feature-sort">{{localize 'DND4EUI.SortBy'}}</label><br />
        <select name="system.featureSortTypes">
          {{selectOptions config.featureSortTypes selected=system.featureSortTypes labelAttr="label"}}
        </select>
      </div>

      <div class="filter-search-features">
        <label for="feature-filter-search">{{localize "DND4E.Filter"}}</label>	
        <br>
        <input type="text" name="feat-filter-search" placeholder="{{localize 'DND4EUI.SearchFor' term=(localize 'DND4E.Feature.Feature')}}..." id="filterInput-feat"/>
      </div>
    </header>

    {{#each sections as |section sid|}}
      <li class="items-header flexrow">
        <h3 class="item-name flexrow">{{localize section.groupLabel}}</h3>
    
        {{#if section.hasActions}}
        <div class="item-detail item-uses">{{localize "DND4E.Uses"}}</div>
        <div class="item-detail item-action">{{localize "DND4E.Usage"}}</div>
        {{/if}}
    
        {{#if section.columns}}
          {{#each section.columns}}
            <div class="item-detail {{css}}">{{label}}</div>
          {{/each}}
        {{/if}}
    
        {{#if ../owner}}
        <div class="item-controls flexrow">
          <a class="item-control item-create" data-tooltip="{{localize 'DND4E.FeatureAdd'}}" data-type="feature" {{#each section.dataset as |v k|}}data-subtype="{{v}}"{{/each}}>
            <i class="fas fa-plus"></i> {{localize "DND4E.Add"}}
          </a>
        </div>
        {{/if}}
      </li>
    
      <ol class="item-list feature-list">
      {{#each section.items as |item iid|}}
        <li class="item flexrow{{#if isDepleted}} depleted{{/if}} collapsible{{#if collapsed}} collapsed{{/if}}" data-item-id="{{item._id}}">
          <div class="item-name flexrow rollable">
            <div class="item-image"><img src="{{item.img}}" width="30" height="30"/></div>
            <i class="fa-solid fa-caret-down" inert></i>
            <h4 data-action="itemSummary">{{#if item.system.level}}[{{item.system.level}}]{{/if}}{{item.name}}</h4>
          </div>
    
          {{#if section.hasActions}}
          <div class="item-detail item-uses">
            {{#if item.isOnCooldown}}
            <a class="item-recharge rollable">{{item.labels.recharge}}</a>
            {{else if item.system.recharge.value}}
            {{localize "DND4E.Charged"}}
    
            {{else if item.hasUses}}
            <input type="text" value="{{item.system.uses.value}}" placeholder="0"/>/ {{item.system.uses.max}}
            {{/if}}
          </div>
    
          <div class="item-detail item-action">
            {{#if item.system.activation.type }}
            {{item.labels.activation}}
            {{/if}}
          </div>
    
          {{else if section.isClass}}
          <div class="item-detail player-class">
            {{item.system.subclass}}
          </div>
          <div class="item-detail item-action">
            Level {{item.system.levels}}
          </div>
          {{/if}}
    
          {{#if section.columns}}
            {{#each section.columns}}
              <div class="item-detail {{css}}">
                {{#with (foundry.utils.getProperty item property)}}
                  {{#if ../editable}}
                    <input type="text" value="{{this}}" placeholder="&mdash;"
                        data-dtype="{{../editable}}">
                  {{else}}
                    {{this}}
                  {{/if}}
                {{/with}}
              </div>
            {{/each}}
          {{/if}}
    
          {{#if ../../owner}}
          <div class="item-controls flexrow">
            {{#if section.crewable}}
            <a class="item-control item-toggle {{item.toggleClass}}"
              data-tooltip="{{item.toggleTitle}}">
              <i class="fas fa-sun"></i>
            </a>
            {{/if}}
            <a class="item-control item-edit" data-tooltip="{{localize 'DND4E.ItemEdit'}}"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" data-tooltip="{{localize 'DND4E.ItemDelete'}}"><i class="fas fa-trash"></i></a>
          </div>
          {{/if}}
          <div class="item-summary collapsible-content">
            <div class="wrapper">
              {{{chatData.description.value}}}
              <ul class="item-properties tags">
                {{#each chatData.properties as |propertyHTML|}}
                {{{propertyHTML}}}
                {{/each}}
              </ul>
            </div>
          </div>
        </li>
      {{/each}}
      </ol>
    {{/each}}
  </ol>
</section>