<section class="tab {{tab.id}}{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
  <section class="section section--skills">

    {{#if system.advancedCals}}
    {{#each system.skills as |skill s|}}
    <div class="skill--block flexrow" data-skill="{{s}}">
      <a class="training-toggle skill-training" data-action="cycleSkillProficiency" data-tooltip="{{skill.hover}}">{{{skill.icon}}}</a>
      <h4 class="skill-name rollable" data-action="rollSkillCheck">{{skill.label}}</h4>
      <label class="skill-mod skill-bonus rollable" data-action="skillBonus">{{numberFormat skill.total decimals=0 sign=true }}</label>
      <label class="skill-base">
        Base 
        <input class="skill-mod" name="system.skills.{{s}}.base" value="{{skill.base}}" data-dtype="Number">
      </label>
    </div>
    {{/each}}
    {{else}}
    {{#each system.skills as |skill s|}}
    <div class="skill--block flexrow" data-skill="{{s}}">
      <h4 class="skill-name rollable" data-action="rollSkillCheck">{{skill.label}}</h4>
      <input class="skill-mod" name="system.skills.{{s}}.base" value="{{skill.base}}" data-dtype="Number">
    </div>
    {{/each}}
    {{/if}}
  </section>
</section>
